<%= form_for @report do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :kind_of %>
    <%= f.text_area :date %>
    <%= f.text_area :money %>
    <%= f.text_area :comments %>

  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>